html {
  font-family: sans-serif;
  background-color: #f5f6f7;
}

a:link {
  color: #e5886d;
  text-decoration: none;
}

a:visited { color: #e5886d; }

a:hover {
  color: white;
  background-color: #d2d2d2;
}

.normal-text { color: #e5886d; }

.nav {
  display: inline;
  margin: auto 0.3em;
  font-size: 1.5em;
}

.highlight-padding { padding: 0.2em; }

.title-top-padding { padding-top: 0.2em; }

.right-text-margin { margin-right: 45%; }

#div-for-nav { height: 1.1em; }

.my-photo-img img {
  height: 2.8em;
  width: 2.8em;
  float: left;
  padding-left: 5%;
}

.background-img img {
  position: relative;
  width: 100%;
}

.img img { width: 60%; }

.bottom-feature-left {
  display: inline-block;
  position: relative;
  left: 15%;
  background-color: #d2d2d2;
  padding: 2em;
}

.bottom-feature-right {
  display: inline-block;
  position: relative;
  left: 35%;
  background-color: #d2d2d2;
  padding: 2em;
}

#div-for-features {
  padding: none;
  position: relative;
}

#div-for-posts {
  margin-left: 5%;
  margin-right: 15%;
  border-bottom: 1px solid #d2d2d2;
}

.footer-section {
  margin: 0;
  padding: 0;
}

.footer-text {
  color: #b2b2b2;
  text-align: center;
}

.no-margin { margin: none; }

.f-xs { font-size: 0.75em; }
.f-normal { font-size: 1em; }

.page-title { color: #e5886d; }

.centered-text { text-align: center; }