html {
  font-family: sans-serif;
  background-color: #f5f6f7;
}

a:link {
  color: #e5886d;
  text-decoration: none;
}

a:visited { color: #e5886d; }

a:hover {
  color: white;
  background-color: #d2d2d2;
}

.nav {
  display: inline;
  margin: auto 0.3em;
  font-size: 1.5em;
}

.highlight-padding { padding: 0.2em; }

.title-top-padding { padding-top: 0.2em; }

.right-text-margin { margin-right: 15%; }

#div-for-nav { height: 1.1em; }

.my-photo-img img {
  height: 2.8em;
  width: 2.8em;
  float: left;
  padding-left: 5%;
}

.background-img img {
  position: relative;
  width: 100%;
}

.bottom-feature-left {
  display: inline-block;
  position: relative;
  left: 15%;
  background-color: #d2d2d2;
  padding: 2em;
}

.bottom-feature-right {
  display: inline-block;
  position: relative;
  left: 35%;
  background-color: #d2d2d2;
  padding: 2em;
}

#div-for-features {
  padding: none;
  position: relative;
}

#div-left-column {
/*  padding: 1%;*/
  float: left;
  width: 40%;
  display: inline-block;
  margin-left: 5%;
}

#div-right-column{
  /*padding: 1%;*/
  float: right;
  width: 40%;
  display: inline-block;
  margin-right: 15%;
}

.footer-section {
  margin: 0;
  padding: 0;
}

.footer-text {
  color: #b2b2b2;
  text-align: center;
}

.normal-text { color: #e5886d; }
.f-xs { font-size: 0.75em; }

.no-margin { margin: none; }

.page-title { color: #e5886d; }

.centered-text { text-align: center; }
.left-aligned-text { margin-left: 5%; }

.code-indentation { text-indent: 5em; }