html {
  font-family: 'Roboto', sans-serif;
  color: #323232;
}

a:link {
  color: #323232;
  text-decoration: underline;
}

a:visited { color: #323232; }

a:hover { color: #C70039; }

.title-top-padding { padding-top: 0.2em; }

.right-text-margin { margin-right: 15%; }

.footer-text {
  color: #323232;
  margin-left: 5%;
}

.page-title {
  color: #323232;
  font-size: 1.5em;
}

.left-aligned-text { margin-left: 5%; }